.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-dark);
  z-index: 2;
  flex-direction: column;
  &__container {
    max-width: 1280px;
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: var(--padding);
    padding-right: var(--padding);
  }
  &__logo {
    background: none;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transform: scale(2);
  }
  &__imageContainer {
    width: 200px; 
    height: 100px; 
    overflow: hidden; 
  }
  &__number{
    color: var(--main-light);
    margin: 0;
    margin-left: 70px;
  }
  &__flag{
    width: 100%;
    height: .5rem;
    display: flex;
    z-index: 3;
  }
  &__flagSector{
    width: 100%;
    height: 100%;
  }
}
