.moto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__image {
    height: auto;
    width: 100%;
    border-radius: 1rem;
  }
  &__name {
    color: var(--main-orange);
    font-size: 1.7rem;
    text-align: center;
    margin: 0;
    font-weight: 800;
  }
  &__price {
    color: var(--main-orange);
    font-size: 1rem;
    text-align: center;
    margin: 0;
    margin-top: 1rem;
  }
  &__imageContainer{
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 1rem;

  }
}
