.motoList {
  margin-top: 8rem;
  width: 100%;
  display: flex;
  color: var(--main-orange);
  font-size: 2rem;
  justify-content: center;
  margin-bottom: 8rem;
  &__container {
    padding-left: var(--padding);
    padding-right: var(--padding);
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__catalog {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, 400px);
    justify-content: center; /* Центрирует по горизонтали */
    align-items: center;
  }
  &__title {
    font-family: 'Akony';
    margin-top: 0;
  }
}

@media screen and (max-width: 1300px) {
  .motoList {
    &__title {
      text-align: center;
    }
  }
}
@media screen and (max-width: 800px) {
  .motoList {
    &__title {
      text-align: center;
      font-size: 2rem;
    }
  }
}
@media screen and (max-width: 550px) {
  .motoList {
    &__title {
      font-size: 1.3rem;
    }
    &__catalog {
      grid-template-columns: repeat(auto-fit, 300px);
    }
    &__container {
      padding-left: none;
      padding-right: none;
   
    }
  }
}
